// Montserrat font
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&family=Rubik:wght@400;500;600;700&display=swap');

// Override and Custom Variables
// Font-families
$heading-font: 'Montserrat', sans-serif;
$content-font: 'Rubik', sans-serif;

$dark-bg: #0A141F;
$body-bg: #0d1b2a;
$strong-color: #16DB93;
$link-glow-color: #20E99F;
$navbar-dark-brand-color: $strong-color;
$navbar-dark-hover-color: $strong-color;
$navbar-dark-active-color: $strong-color;
$content-text-color: rgba(255, 255, 255, 0.55);

$container-max-widths: (
    md: 100%,
    // xxl: 1600px
);

@import '~bootstrap/scss/bootstrap.scss';

* {
    padding: 0;
    margin: 0;
    font-family: $heading-font;
}

// Navbar Styles
.navbar {
    background: $body-bg;
    box-shadow: 0 2px 2px $dark-bg;
}

.navbar .container {
    padding: 0 15px;
}

.navbar-brand {
    font-family: $heading-font;
    &:hover {
        color: $strong-color;
    }
}

span.navbar-brand:hover {
    color: $strong-color;
    cursor: default;
}

.navbar-brand:hover,
.navbar-brand:focus
 {
    color: $strong-color;
}


.navbar-toggler {
    border: none;
}

.container .navbar-toggler {
    outline: none;
    box-shadow: none;
}

// Main Section styles that include About, Portfolio, and Contact
main {
    margin-top: 50px;
    color: rgb(227, 227, 227);
}

.row {
    width: inherit;
}

.bio-row img {
    width: 85%;
}

// Gradient Borders on Bio section elements
.bio-row .col:nth-child(3) {
    background: linear-gradient($body-bg, $body-bg) padding-box,
    linear-gradient(135deg, $body-bg, $body-bg, $strong-color) border-box;
    border: 3px solid transparent;
}

.bio-row .col:nth-child(2) {
    background: linear-gradient($body-bg, $body-bg) padding-box,
    linear-gradient(135deg, $strong-color, $body-bg, $body-bg) border-box;
    border: 3px solid transparent;
}

.bio-row img {
    background: linear-gradient($body-bg, $body-bg) padding-box,
    linear-gradient(200deg, $body-bg, $strong-color, $body-bg) border-box;
    border: 3px solid transparent;
}

@media screen and (min-width: 530px) {
    .bio-row img {
        width: 70%;
    }
}

@media screen and (min-width: 650px) {
    .bio-row img {
        width: 60%;
    }
}

@media screen and (min-width: 1200px) {
    .navbar-brand {
        font-size: 1.5rem;
    }
    
    .navbar-nav {
        font-size: 1rem;
    }

    .bio-row {
        height: 775px;
    }

    .bio-row img {
        width: 80%;
    }
}

@media screen and (min-width: 1600px) {
    .navbar-brand {
        font-size: 2rem;
    }

    .navbar-nav {
        font-size: 1.2rem;
    }

    .navbar .container {
        padding: 0 25px;
    }
}